* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--white: #ffffff;
	--grey: #666666;
	--green: #7c9c37;
	--black: #000000;
}


.container {
	width: 996px;
	margin: auto;
}


.header-section-top {
	background-color: white;
}

.header-top {
	height: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.top-text {
	font-size: 12px;
	line-height: 19px;
	color: #696969;
	font-family: "Georgia";
	margin-right: 53px;
}

.top-text span {
	margin-right: 53px;
}


.search-items {
	display: flex;
	flex-direction: row;
}

.search {
	position: relative;

}

.search input {
	font-size: 12px;
	color: #999999;
	border: none;
	width: 210px;
	height: 25px;
	border-radius: 13px;
	background-color: #e1e1e1;
	margin-bottom: 0px;
}

.circle {
	width: 19px;
	height: 19px;
	border-radius: 9px;
	background-color: var(--black);
	position: absolute;
	right: 6px;
	top: 3px;
}

.header-section-main {
	height: 93px;
	background-color: #222222;
}

.header-main {
	height: 93px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 26px;
	align-items: flex-end
}

h1 {
	font-size: 36px;
	line-height: 36px;
	color: var(--white);
	font-family: "Georgia";
}

.header-text span {
	font-size: 12px;
	color: var(--white);
	font-family: "Georgia";
}

nav ul {
	display: flex;
	flex-direction: row;


}

nav ul li {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #828282;

}

nav ul li:first-child {
	border: none
}

nav ul li a {
	font-size: 12px;
	line-height: 12px;
	color: var(--white);
	font-family: "Georgia";
	text-transform: uppercase;
	transition: 0.5s;
	padding-left: 20px;
}

nav span {
	font-size: 12px;
	line-height: 19px;
	color: #cccccc;
	font-family: "Arial";
	padding-left: 20px;
}

nav ul li a:hover {
	color: var(--green);
}

.header-line {

	height: 2px;
	background-color: var(--green);
}


.slider-section {
	height: 380px;
	background-color: #333333;
}

.slider {
	height: 380px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.arrow-left {
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: var(--black);
	position: absolute;
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid var(--grey);
}

.arrow-right {
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background-color: var(--black);
	position: absolute;
	right: 0%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid var(--grey);
}


.main-section {
	height: 1015px;
	background-color: var(--white);
}

.text-section {
	height: 169px;
	width: 996px;
	display: flex;
	align-items: center;
	justify-items: center;
}

.text-section p {
	font-size: 28px;
	line-height: 28px;
	color: #333333;
	font-family: "Georgia";
	text-align: center;
	margin-left: 27px;
	margin-right: 27px;
	font-style: italic;
}

.middle-line {
	width: 800px;
	height: 3px;
	background-color: #e8e8e8;
	margin: auto;
}

.work-section {
	height: 366px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.work-item {
	width: 225px;
	height: 265px;
	background-color: #333333;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	transition: 0.5s;
}

.work-item-text {
	width: 225px;
	height: 125px;
	background-color: #f0f0f0;
}

h2 {
	font-size: 18px;
	color: var(--green);
	font-family: "Georgia";
	margin-left: 14px;
	margin-top: 21px;
	margin-bottom: 21px;
}

.work-item-text p {
	font-size: 12px;
	line-height: 19px;
	color: var(--grey);
	font-family: "Georgia";
	margin-left: 14px;
}

.work-item-img {
	width: 225px;
	height: 140px;
	background-size: 110%;
	background-position: center center;
	background-repeat: no-repeat;
}


.work-item:hover .work-item-img {
	background-size: 130%;
}

.work-item:hover .overlay {
	background-size: 130%;
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.service-section {
	height: 433px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.services {
	height: 433px;
	width: 470px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team-members {
	height: 433px;
	width: 470px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service-main-header {
	height: 100px;
	width: 470px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;


}

h3 {
	font-size: 18px;
	color: var(--grey);
	font-family: "Georgia";
	margin-top: 48px;


}

.service-main-header span {
	font-size: 13px;
	color: var(--green);
	font-family: "Georgia";
}

.bottom-line {
	width: 470px;
	height: 1px;
	background-color: #e2e2e2;
}

.service-items {
	height: 126px;
	width: 218px;
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
}

.logo-box {
	width: 48px;
	height: 48px;
	margin-right: 15px;
	background-size: 106%;
	background-position: center center;
	background-repeat: no-repeat;
}

.service-header {
	width: 155px;

}

h4 {
	font-size: 14px;
	color: var(--green);
	font-family: "Georgia";
	margin-bottom: 10px;
}

.service-header p {
	font-size: 13px;
	line-height: 21px;
	color: var(--grey);
	font-family: "Georgia";
}

.members-img {
	width: 225px;
	height: 225px;
	background-color: #e2e2e2;
	margin-bottom: 48px;
	background-size: 106%;
	background-position: center center;
	background-repeat: no-repeat;
}

h5 {
	font-size: 13px;
	line-height: 16px;
	color: var(--grey);
	font-family: "Georgia";
	font-weight: bold;
	margin-top: 250px;
	margin-right: 5px;
    margin-bottom: 0px;
}

.members-img h5 span {
	font-size: 13px;
	line-height: 16px;
	color: var(--grey);
	font-family: "Georgia";
	margin-top: 250px;
}

.members-img span {
	font-size: 13px;
	line-height: 16px;
	color: var(--green);
	font-family: "Georgia";
	margin-top: 273px;
}



.footer-section {
	background-color: #222222;
	height: 333px;
}

.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-item {
	width: 225px;
}

.footer-quick-links {
	margin-top: 29px;
	margin-bottom: 22px;
}

.footer-quick-links h6 {
	width: 100%;
	font-size: 12px;
	line-height: 14px;
	color: var(--grey);
	font-family: "Georgia";
	font-weight: bold;
	text-transform: uppercase;
}

.footer-img {
	width: 225px;
	height: 100px;
	border: 1px solid #3a3a3a;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 225px;
}

.footer-item p {
	width: 209px;
	height: 89px;
	font-size: 12px;
	line-height: 19px;
	color: var(--grey);
	font-family: "Georgia";
	margin-top: 20px;
	margin-bottom: 14px;
}

.footer-item span {
	font-size: 12px;
	line-height: 22px;
	color: var(--green);
	font-family: "Georgia";
}


.footer-paragraph h6 {


	font-size: 14px;
	line-height: 17px;
	color: var(--grey);
	font-family: "Georgia";
	font-weight: bold;
	margin-top: 14px;
}

.footer-paragraph span {
	line-height: 17px;
	color: var(--grey);
	font-family: "Georgia";
}

.footer-paragraph p {
	width: 240px;
	height: 83px;
	font-size: 14px;
	line-height: 17px;
	color: var(--grey);
	font-family: "Georgia";
	margin-top: 4px;
	margin-bottom: -30px;
}

.footer-quick-links h4 {
	font-size: 12px;
	line-height: 19px;
	width: 143px;
	color: var(--grey);
	font-family: "Georgia";
	margin-top: 14px;
	margin-bottom: 3px;
	font-weight: lighter;
}

.footer-quick-links h5 {
	font-size: 12px;
	line-height: 19px;
	width: 143px;
	color: var(--grey);
	font-family: "Georgia";
	font-weight: lighter;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -3px;
	margin-bottom: 40px;
}

.footer-quick-links span {
	margin-left: 2px;
}


input {
	height: 31px;
	margin-bottom: 14px;
	border: none;
	display: inline-block;
	padding-left: 9px;
	width: 225px;
	height: 31px;
	border-radius: 7px;
	background-color: #353535;
	font-size: 13px;
	line-height: 21px;
	color: #807d77;
	font-family: "Georgia";
}


.button input {


	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	width: 80px;
	height: 31px;
	border-radius: 7px;
	background-color: var(--green);
	font-size: 13px;
	line-height: 21px;
	color: var(--white);
	font-family: "Georgia";
	font-weight: bold;
}


.footer-item-text {
	width: 100%;
	height: 26px;
	border-bottom: 1px solid #484948;
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 28px;
	color: var(--grey);
	font-family: "Georgia";
}

.footer-item-text span {
	font-size: 12px;
	line-height: 28px;
	color: var(--green);
	font-family: "Georgia";
	margin-left: 9px;
}


.footer-line-section {
	background-color: #222222;
	border-top: 2px solid var(--black);
}

.footer-line {
	display: flex;
	justify-content: space-between;
}


.footer-line-copyright {
	width: 330px;
	height: 60px;
	background-color: #222222;
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	color: var(--grey);
	font-family: "Georgia";
}


.footer-line-template {
	width: 370px;
	height: 60px;
	background-color: #222222;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	color: var(--grey);
	font-family: "Georgia";
}

@media screen and (max-width: 996px) {
	.container {
		width: 90%;
	}

	nav {
		display: none;
	}

	.text-section {
		display: flex;
		flex-wrap: wrap;
		width: auto;
	}

	.work-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
	}

	.work-item {
		margin: 20px;
	}

	.header-top {
		display: none;
	}

	.main-section {
		display: flex;
		flex-wrap: wrap;
		height: auto;
	}

	.service-main-header {
		display: flex;
		justify-content: center;
		height: auto;
		width: auto;
	}

	.service-main-header h3 {
		margin-right: 100px;
		margin-bottom: 10px;
	}

	.service-main-header span {
		margin-left: 100px;
		margin-bottom: 10px;
	}

	.service-section {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		height: auto;
		align-items: center;
		justify-items: center;
	}

	.services {
		height: auto;
		width: auto;
		justify-content: center;
	}

	.team-members {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
		width: auto;
		margin: 20px;
	}

	.members-img {
		display: flex;
		justify-content: flex-start;
		margin: 10px;
	}

	.members-img h5 {
		margin-top: 225px;

	}

	.members-img span {
		margin-top: 225px;
	}

	.footer-section {
		height: auto;
	}

	.footer {
		justify-content: center;
	}

	.service-items {
		margin: 20px;
	}

	.footer-item {
		margin: 20px;
	}

	.middle-line {
		width: auto;
	}


}